#homeDiv{
  background-image: url("https://w0.peakpx.com/wallpaper/402/584/HD-wallpaper-clash-of-clans-clans-clash-of.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
  backdrop-filter: blur(8px);
}

.nav-item-text{
  pointer-events: none;
}

.nav-link{
  pointer-events: auto;
  color: rgba(59, 59, 59, 0.719);
  font: bold;
}

.nav-item-text:hover{
  background-color: rgb(173, 173, 173);
  transition: background-color 200ms linear;
}